In [1]:
import pandas as pd

In [2]:
def solution1():
    
    data = [[1,2,3,4,5,6,7,8,9,10],['AA','AB','AC','AD','AE','BA','BB','BC','BD','BE']]

    df=pd.DataFrame(data)

    print('Solution 1 :','\n\n',df,'\n\n')

In [3]:
def solution2():

    data_list = {'Student': ['Rutvik','Pankti','Evaan','Dhyan'],
                'City': ['Pune','Delhi','Surat','Houston'],
                'Age': [22,16,5,13]}

    print('Solution 2 :','\n\n',data_list,'\n\n')

In [4]:
def solution3():

    data_list = {'Student': ['Rutvik','Pankti','Evaan','Dhyan'],
                'City': ['Pune','Delhi','Surat','Houston'],
                'Age': [22,16,5,13]}

    df = pd.DataFrame(data_list)

    print('Solution 3 :','\n\n',df)

In [6]:
solution1()
solution2()
solution3()

Solution 1 :

     0   1   2   3   4   5   6   7   8   9
0   1   2   3   4   5   6   7   8   9  10
1  AA  AB  AC  AD  AE  BA  BB  BC  BD  BE


Solution 2 :

 {'Student': ['Rutvik', 'Pankti', 'Evaan', 'Dhyan'], 'City': ['Pune', 'Delhi', 'Surat', 'Houston'], 'Age': [22, 16, 5, 13]}


Solution 3 :

   Student     City  Age
0  Rutvik     Pune   22
1  Pankti    Delhi   16
2   Evaan    Surat    5
3   Dhyan  Houston   13