In [5]:
import pandas as pd
import csv

In [6]:
def sol1():
    
    print("\nSolution 1 : \n\n")

    with open('jyoti.csv','w',newline='') as file_obj:
        
        wr_obj = csv.writer(file_obj)

        header = ['empid','empname','department','experience','salary']

        wr_obj.writerow(header)

        data = [['1','jyoti','BCA','1 Years','10000'],
                ['2','jyoti','BCA','2 Years','30000'],
                ['3','jyoti','BBA','3 Years','30000'],
                ['4','jyoti','BCA','4 Years','40000'],
                ['5','jyoti','BBA','5 Years','50000']]

        wr_obj.writerows(data)

        print("Header Done ! ")

In [7]:
def sol2():
    
    print("\nSolution 2 : \n\n")

    with open('jyoti.csv','r') as file_obj:

        rd_obj = csv.reader(file_obj)

        for line in rd_obj:
            print(line)

In [8]:
def sol3():
    
    print("\nSolution 3 : \n\n")

    with open('jyoti.csv','a',newline='') as file_obj:

        wr_obj = csv.writer(file_obj)

        data = [['6','jyoti','BCA','6 Years','30000'],
                ['7','jyoti','BBA','7 Years','30000']]

        wr_obj.writerows(data)

        print('Data Append Successfull ! ')

In [9]:
def sol4():
    
    print("\nSolution 4 : \n\n")
        
    with open('jyoti.csv','r') as file_obj:

        rd_obj = csv.reader(file_obj)

        for line in rd_obj:    
            if 'BCA' in line:
                print(line[-1])

In [10]:
def sol5():
    
    print("\nSolution 5 : \n\n")

    df = pd.read_csv('jyoti.csv')

    print(df)

In [11]:
sol1()
sol2()
sol3()
sol4()
sol5()

Solution 1 :


Header Done !

Solution 2 :


['empid', 'empname', 'department', 'experience', 'salary']
['1', 'jyoti', 'BCA', '1 Years', '10000']
['2', 'jyoti', 'BCA', '2 Years', '30000']
['3', 'jyoti', 'BBA', '3 Years', '30000']
['4', 'jyoti', 'BCA', '4 Years', '40000']
['5', 'jyoti', 'BBA', '5 Years', '50000']

Solution 3 :


Data Append Successfull !

Solution 4 :


10000
30000
40000
30000

Solution 5 :


   empid empname department experience  salary
0      1   jyoti        BCA    1 Years   10000
1      2   jyoti        BCA    2 Years   30000
2      3   jyoti        BBA    3 Years   30000
3      4   jyoti        BCA    4 Years   40000
4      5   jyoti        BBA    5 Years   50000
5      6   jyoti        BCA    6 Years   30000
6      7   jyoti        BBA    7 Years   30000